/* Debug Ghost CSS Elements */
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
/* Couleurs primaires */
/* Couleurs secondaires */
/* Couleurs claires */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'DM Sans', sans-serif;
}

header {
  height: 157px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
}

.logo {
  margin-left: 7%;
  cursor: pointer;
}

.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #901C1C;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.button:hover {
  background: #D3573C;
  color: black;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.tag {
  border: 0.5px solid #C4C4C4;
  color: #901C1C;
  font-size: 12px;
  text-transform: capitalize;
  padding: 0px 6px;
  border-radius: 11px;
  list-style-type: '#';
  list-style-position: inside;
  cursor: pointer;
}

.tag:hover {
  color: white;
  background: #901C1C;
}

.title {
  font-size: 36px;
  color: #901C1C;
  position: absolute;
  font-size: 2.25em;
  top: 44px;
  right: 8%;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photographers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 60px;
}

.photographer {
  text-align: center;
  cursor: pointer;
}

.photographer__image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: #C4C4C4;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographer__name {
  font-size: 36px;
  color: #D3573C;
}

.photographer__city {
  font-size: 13px;
  color: #901C1C;
}

.photographer__tagline {
  font-size: 10px;
}

.photographer__price {
  font-size: 9px;
  color: #757575;
}
/*# sourceMappingURL=style.css.map */