.teddies {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 13rem;
    gap: 1.1em;
    margin-top: 30px;
    @media (max-width: 599px) {
        grid-template-columns: 1fr;
        width: 100%;
    }
}