<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Applications thématiques ne vendant qu’un seul groupe de produits" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link rel="shortcut icon" type="image/png" href="/frontend/img/favicon.jpg" />

    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />

    <script type="module" src="/frontend/js/panier.js"></script>
    <script src="https://kit.fontawesome.com/a76bab607b.js" crossorigin="anonymous"></script>
    
    <title>Panier | Orinoco</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/index.html"><img class="logo" src="/frontend/img/logo_orinoco.png" alt="logo Orinoco" /></a>
        <div><a href="/frontend/components/panier.html"><i class="fas fa-shopping-basket"></i><span id="nbItems"></span></a></div>
      </nav>
    </header>

    <main>
        
        <h1>Panier :</h1>
        <form>
          <ul id="listePanier">

          </ul>
        </form>
        <div id="prixTotal"></div>
        <p>Formulaire de commande :</p>
        <form id="contact">
          <label for="firstName">Prénom :</label><br>
          <input type="text" id="firstName" name="firstName" required><br>

          <label for="lastName">Nom de famille :</label><br>
          <input type="text" id="lastName" name="lastName" required><br>

          <label for="address">Entrez votre addresse :</label><br>
          <input type="text" id="address" name="address" required><br>

          <label for="city">Entrez votre ville :</label><br>
          <input type="text" id="city" name="city" required><br>

          <label for="email">Entrez votre email :</label><br>
          <input type="email" id="email" name="email" required><br>

          <input type="submit" value="Commander">

        </form>
    </main>
  </body>
</html>
