<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Applications thématiques ne vendant qu’un seul groupe de produits" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link rel="shortcut icon" type="image/png" href="/frontend/img/favicon.jpg" />

    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />

    <script type="module" src="/frontend/js/main.js"></script>
    <script src="https://kit.fontawesome.com/a76bab607b.js" crossorigin="anonymous"></script>
    
    <title>Orinoco</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="/index.html"><img class="logo" src="/frontend/img/logo_orinoco.png" alt="logo Orinoco" /></a>
        <div><a href="/frontend/components/panier.html"><i class="fas fa-shopping-basket"></i><span id="nbItems"></span></a></div>
      </nav>
    </header>

    <main>
      <form>
        <p>Veuillez choisir la couleur :</p>
        <div id="choixCouleur">
        </div>
        <div>
          <button type="submit" id="cart">Ajouter au panier</button>
        </div>
      </form>
    </main>
  </body>
</html>
