<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Applications thématiques ne vendant qu’un seul groupe de produits" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <link rel="shortcut icon" type="image/png" href="/frontend/img/favicon.jpg" />

    <link rel="stylesheet" type="text/css" href="/frontend/css/style.css" />

    <script src="/frontend/js/produit.js"></script>

    <title>Orinoco</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="../index.html"><img class="logo" src="../img/logo_orinoco.png" alt="logo Orinoco" /></a>
      </nav>
    </header>

    <main></main>
  </body>
</html>
