/* header */
header {
    z-index:1;
    display: flex;
    padding-top: 22px;
    padding-bottom: 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    align-items: center;
    animation: fadeInFromNone 5s ease-out;
    @keyframes fadeInFromNone {
        0% {
            display: none;
            opacity: 0;
        }
    
        50% {
            display: block;
            opacity: 0;
        }
    
        100% {
            display: block;
            opacity: 1;
        }
    }
    i {
        font-size: 1.2em;
        margin-left: 30px;
        color: $background-color;
    }

    img {
        width: 50%;
        max-width: 170px;
        margin: auto;
    }
}
