.confirmation {
    background-color: $backgroundColorPalePink;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: auto;
    max-width: 800px;
    &__title {
        font-size: 2em;
        margin-bottom: 10px;
    }
    &__price {
        font-weight: 700;
    }
    &__order {
        font-weight: 700;
        font-style: italic;
    }
    &__image {
        width: 30%;
    }
}