.cover {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    .top-product {
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        width: 55%;
        max-width: 600px;
        margin: 10px;
        background-color: $backgroundColorPalePink;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        &__image {

            max-height: 200px;
            object-fit: cover;
            flex: auto;
        }
        &__text {
            width: 40%;
            flex: auto;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__description {
            font-size: 0.8em;
        }
        &__title {
            font-size: 1.8em;
        }
        &__product {
            font-weight: 700;
        }
    }
    .presentation {
        flex: auto;
        width: 40%;
        max-width: 600px;
        margin: 10px;
        padding: 20px;
        background-color: $primaryColorViolet;
        color: white;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &__title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8em;
            img {
                height: 65px;
            }
        }
        &__text {
            margin: 5px;
            text-align: center;
            font-style: italic;
            font-weight: 100;
        }
    }
}