/* La police du site est Raleway */
/* Les couleurs de la charte sont le
bleu #0065FC, et
sa version plus claire #DEEBFF ainsi que le
gris pour le fond #F2F2F2 */

:root {
  --main-bg-color: #F2F2F2;
  --main-color: #0065FC;
  --main-color-clear: #DEEBFF;
  --main-border-color: #d9d9d9;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body > * {
  padding: 0 50px;
}

main {
  max-width: 1340px;
}

header {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.star-active {
  color: var(--main-color);
}

.star-inactive {
  color: var(--main-bg-color);
}

/* Nav */
.navbar {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
  }
}

.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 40px 15px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.nav-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.active, .nav-item:hover {
  border-top: 2px solid var(--main-color);
  padding: 38px 15px;
}

.active a, .nav-item:hover a {
  color: var(--main-color);
}

.nav-subscribe {
  padding: 40px 15px;
}
.nav-subscribe a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

.logo img {
  vertical-align: middle;
  padding: 40px 0;
}

/* Main */

/*Search section*/

.search {
  margin: 40px 0;
}

.info-span {
  border-radius: 50%;
  width: 22px;
  line-height: 22px;
  border: 1px solid var(--main-border-color);
  color: var(--main-color);
  text-align: center;
  font-size: 12px;
  display: inline-block;
}

.form-group {
  display: flex;
}
.form-elt {
  padding: 12.5px 17px;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.input-span {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 14px 0 0 14px;
  text-align: center;
}

.input {
  width: 200px;
  border: 1px solid var(--main-bg-color);
}

.btn-search {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 14px 14px 0;
  color: white;
  text-align: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0;
}

.filters-elts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.filters-elt {
  font-size: large;
  font-weight: bold;
  border: 2px solid var(--main-border-color);
  margin: 10px;
  border-radius: 28px;
  display: flex;
}

.filters-text {
  padding: 12px;
}

.filters-text::first-letter {
  text-transform:uppercase;
}

.filters-span {
  border-radius: 50%;
  width: 45px;
  line-height: 45px;
  background-color: var(--main-color-clear);
  border: 2px solid var(--main-color-clear);
  color: var(--main-color);
  text-align: center;
  display: inline-block;
  margin: -2PX;
}

.round-border {
  border-radius: 20px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-direction: column; */
}

.acc-box > * {
  margin: 0 0 0 40px;
}

.acc-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -40px;
  width: calc(100% + 40px);
  /* flex-direction: column; */
}

.acc-box-result {
  padding: 40px;
  background-color: var(--main-bg-color);
}

.acc-box-result-all {
  max-width: 800px;
}

.acc-box-result-popular {
  flex: auto;
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

@media (max-width: 600px) {
  .acc-box-result-all {
    width: 100%;
  }
  .acc-box-result-popular {
    width: 100%;
  }
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards > * {
  margin: 20px 0 0 20px;
}

.cards {
  max-width: 840px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
  width: calc(100% + 20px);
}

.card {
  flex: 1 1 240px;
  background-color: white;
  padding: 5px;
  height: 200px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  font-size: 0.86em;
}

.card-text p, .card-text h3{
  margin: 5px;
}

.card img {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.span-title {
  margin: auto 0;
  font-size: x-large;
}

.cards-large > * {
  margin: 20px 0 0 20px;
}

.cards-large {
  display: flex;
  flex-direction: column;
  margin: -20px 0 0 -20px;
  width: calc(100% + 20px);
  flex-wrap: wrap;
}

.card-large {
  flex: auto;
  display: flex;
  background-color: white;
  padding: 5px;
}

.card-large img {
  width: 127px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.box-title {
  display: flex;
  justify-content: space-between;
}

.box-activities {
  padding: 40px 0;
}

.cards-activities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.cards-activities-column > * {
  margin: 20px 0 0 0;
}

.cards-activities-column {
  height: calc(445px + 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -20px 0 0 0;
  width: 302px;
}

.card-activities {
  height:calc(50% - 20px);
  flex: auto;
}


.card-activities img {
  width: 100%;
  height: calc(100% - 62px);
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-activities h3 {
  padding: 20px;
  margin: 0;
}

/* Footer */
footer {
  background: var(--main-bg-color);
  clear: both;
}

.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.box-start {
  display: flex;

}

.card-footer {
  width: 33%;
}