<!DOCTYPE html>

<html lang="fr">

<head>
    <title>ohmyfood</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a76bab607b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="loader">
    </div>
    <!-- Header -->
    <header class="load">
        <a href="../index.html"><span><i class="fas fa-arrow-left"></i></span></a>
        <img src="../static/images/logo/ohmyfood.png" alt="logo ohmyfood" />
    </header>

    <!-- Main -->
    <main class="load">
        <!-- Menu -->
        <section class="container--carte">
            <img src="../static/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg" alt="photo du restaurant">
            <div class="menu">
                <div class="menu__restaurant">
                    <h1 class="menu__title">À la française</h1>
                    <div class="menu__like"><i class="far fa-heart card__like-btn"></i></div>
                </div>
                <div class="menu__column">
                    <h2>Entrées</h2>
                    <ul class="dishes-list">
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Tartare de poulpe acidulé</h3>
                                    <p>Aux zestes d'orange</p>
                                </div>
                                <p class="dishes-list__price">25€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Velouté de légumes d'antan</h3>
                                    <p>Carotte, panais, topinambour</p>
                                </div>
                                <p class="dishes-list__price">35€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Soupe à l'oignon</h3>
                                    <p>Revisitée</p>
                                </div>
                                <p class="dishes-list__price">20€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu__column">
                    <h2>Plats</h2>
                    <ul class="dishes-list">
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Coquilles Saint-Jacques</h3>
                                    <p>Accompagnées d'une purée de panais</p>
                                </div>
                                <p class="dishes-list__price">40€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Magret de canard</h3>
                                    <p>Et parmentier de pommes de terre</p>
                                </div>
                                <p class="dishes-list__price">35€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Pigeonneau d’Ille-et-Vilaine</h3>
                                    <p>Sur son lit de gnocchis aux légumes</p>
                                </div>
                                <p class="dishes-list__price">44€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu__column">
                    <h2>Desserts</h2>
                    <ul class="dishes-list">
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Pétales de violettes glacés</h3>
                                    <p>Et purée de noisettes</p>
                                </div>
                                <p class="dishes-list__price">18€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Fondant au chocolat</h3>
                                    <p>Revisité</p>
                                </div>
                                <p class="dishes-list__price">22€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                        <li class="dishes-list__item">
                            <div class="dishes-list__content">
                                <div class="dishes-list__text">
                                    <h3 class="dishes-list__title">Millefeuille croustillant</h3>
                                    <p>Myrtilles et pâte d’amande</p>
                                </div>
                                <p class="dishes-list__price">23€</p>
                            </div>
                            <div class="dishes-list__button">
                                <i class="fas fa-check-circle"></i>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="btn">Commander</div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="load">
        <div>ohmyfood</div>
        <ul>
            <li><span><i class="fas fa-utensils"></i></span> Proposer un restaurant</li>
            <li><span><i class="fas fa-hands-helping"></i></span> Devenir partenaire</li>
            <li>Mentions légales</li>
            <li><a href="mailto:mathieu.collet@gmail.com">Contact</a></li>
        </ul>
    </footer>
</body>

</html>